
        <!-- <tbody> -->
            <tr *ngFor="let el of tableData.tableData||[]; let iParent = index" [ngClass]="{'highlight-row':style_rowValidate(el)}">
                <td *ngFor="let schema of tableData.schema||[]; let i1 = index">
                    <ng-container *ngFor="let sKey of tableData.schema[i1]|keyvalue:orderOriginal; let i = index">
                        <p *ngIf="findData(el,asString(sKey.key))"  [innerHTML]="elStyle(findData(el,asString(sKey.key)),asString(sKey.key))">Error getting data</p>
                    </ng-container>
                </td>
            </tr>
            <ng-container *ngIf="tableData.tableData.length<=0">
                <div style="width: 100%; text-align: center;">
                    No Data Found!
                </div>
            </ng-container>
        <!-- </tbody> -->